<IfModule mod_rewrite.c>
    RewriteEngine On

    # Imposta index.html come file di default per le directory
    DirectoryIndex index.html

    # Assicura che l'header di autorizzazione venga passato a PHP
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Reindirizza a index.php se il file o la cartella non esistono
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>